*{
    margin: 5px;
    padding: 0;
}

div{
    height: 28px;
    width: 90px;
    text-align: center;
    font-size: 15px;
    background-color: orange;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 80ms;
    transition-timing-function: ease-in;
}

div:hover{
    height: 30px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    background-color: red;
    color: white;
}