*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    border: 2px solid black;
    height: 100px;
    background-color: black;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    color: yellow;
    text-decoration: none;
}

#outer{
    background-color: black;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    margin: 10px;
}

#inner{
    background-color: pink;
    height: 100px;
    width: 100px;
}